@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-gold: #d4af37;
    --color-gold-hover: #bda030;
    --color-charcoal: #0f172a;
    --color-cream: #faf9f6;
    --font-luxury: 'Cinzel', serif;
    --font-sans: 'Outfit', sans-serif;
}

